.createFeed {
      background: #f0f2f3;
      min-height: 4em;
      padding: 0.5em;
      box-shadow: 0 1px 1px #80888f;
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    
      form {
        textarea {
          height: 4em;
          
          &:focus {
            height: 8em;
          }
        }
      }
  }
  