@import './base_variables';
@import './base_mixins';
@import './base_fonts';
@import './base_main';
@import './base_reset';
@import './base_grid';
@import './base_ui';
@import './base_icons';
@import './page_index';
@import './page_wall';
@import './page_page';

@import './cosmetic_header';
@import './cosmetic_createFeed';
@import './cosmetic_feed';
@import './cosmetic_createComment';
@import './cosmetic_comment';
@import './cosmetic_commentList';
@import './cosmetic_footer';
@import './cosmetic_loader';
@import './cosmetic_tag';
@import './cosmetic_onboarding';