
.tagButton{
    display: inline-block;
    word-break: keep-all;
    margin-right: 0.5em;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0.5em;
    line-height: 2.8em;

    a {
        padding: 7px 9px;
        width: auto;
        background-color: var(--mainThemeColorDarker);
        margin: 0;
        letter-spacing: 0.1em;

        // font-weight: bold;
        color: #fff;
        text-shadow: 0px 1px 0px #537966;
        border-right: solid 1px #537966;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
        background-image: linear-gradient(to bottom, #82b39a 0%, #739f89 100%);
        box-shadow: inset 0px 1px 0px var(--mainThemeColorDarker), 0px 5px 0px 0px #537966, 0px 10px 5px #999 ;
    }


    button {
        margin: 0;
        font-size: inherit;
        background-color: #3bb3e0;
        text-decoration: none;
        color: #fff;
        text-shadow: 0px 1px 0px #537966;
        padding: 7px 9px;
        border-left: solid 1px #2ab7ec;
        
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        background-image: linear-gradient(to bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
        box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;

        &.active {
            // opacity: 0.8;
            position: relative;
            top: 3px;
            background: var(--mainThemeColorDarker);
            border-left: solid 1px var(--mainThemeColorShadow);
            background-image: linear-gradient(to bottom, #82b39a 0%, #739f89 100%);
            box-shadow: inset 0px 1px 0px #9BD6B8, 0px 2px 0px 0px #537966, 0px 5px 3px #999;
        }
    }
}