
  /* latin-ext */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(/pacifico-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(/pacifico-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Globals */
a,a:focus,a:hover{color:#505664;}
html,body{height:100%;background-color:#9bd6b8;}
body{color:#505664;font-size: 1.1em}

.container{
    width: 90%;
    max-width: 960px;
    margin: 2% auto;
}

.grid            { display: flex; flex-wrap: wrap; }
.grid.\-top      { align-items: flex-start; }
.grid.\-middle   { align-items: center; }
.grid.\-bottom   { align-items: flex-end; }
.grid.\-stretch  { align-items: stretch; }
.grid.\-baseline { align-items: baseline; }
.grid.\-left     { justify-content: flex-start; }
.grid.\-center   { justify-content: center; }
.grid.\-right    { justify-content: flex-end; }
.grid.\-between  { justify-content: space-between; }
.grid.\-around   { justify-content: space-around; }

.cell            { box-sizing: border-box; flex-shrink: 0; }
.cell.\-fill     { width: 0; min-width: 0; flex-grow: 1; }
.cell.\-1of12    { width: calc(100% * 1 / 12); }
.cell.\-2of12    { width: calc(100% * 2 / 12); }
.cell.\-3of12    { width: calc(100% * 3 / 12); }
.cell.\-4of12    { width: calc(100% * 4 / 12); }
.cell.\-5of12    { width: calc(100% * 5 / 12); }
.cell.\-6of12    { width: calc(100% * 6 / 12); }
.cell.\-7of12    { width: calc(100% * 7 / 12); }
.cell.\-8of12    { width: calc(100% * 8 / 12); }
.cell.\-9of12    { width: calc(100% * 9 / 12); }
.cell.\-10of12   { width: calc(100% * 10 / 12); }
.cell.\-11of12   { width: calc(100% * 11 / 12); }
.cell.\-12of12   { width: 100%; }


.hide{display:none;}
.text-center{text-align: center}
.text-right{text-align: right}
.error{background-color: #f26964; color: #fefefe; border-radius:0.2em; padding: 1em }
.logo{font-size: 3em;font-family: 'Pacifico',cursive;font-weight: 400;padding:0;margin:0}

.index canvas{margin: 7% 1em; }

.navigation .brand {text-align:left !important}
.navigation .brand .logo{ font-size: 2em !important}
.navigation .profile {text-align:right !important;font-size: 1.1em}
.navigation .profile .avatar{ border-radius: 50%; height: 2.6em}
.navigation .profile .username{ font-size: 0.7em}

.btn{font-family:'Helvetica',Sans-Serif;padding:0.5625rem 2.5rem;font-size:0.8125rem;
    font-weight:400;line-height:1.75rem;border-radius:0.2em;
    -webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;user-select:none;}
.btn-lg{font-size:1.5rem;padding:0.6875rem 3.4375rem;line-height:2.5rem;}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{color:#fff;border:none;background-color:#505664;}

.action_button {
    background: #f26964;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 0 #c1524e;
    box-shadow: 0 3px 0 #c1524e;

    position: relative;
    width: 100%;
    border: 0;
    font-size: 1.2em;
    padding: 1em;

    border-radius: 0.2em;
}

.panel-authed {padding:0 0 0 0;}

input, textarea {
    background: none repeat scroll 0 0 rgba(0,0,0,0.1);
    border: medium none;
    color: #505664;
    margin-bottom: 10px;
    padding: 1.2em;
    width: 100%;
}

.new{text-align:right;}
.new input{
    width:100%;height:70px;border-radius:0.2em;font-size:1.2em;border:none;
    
}
article {color:#2e2e2e;text-align:center;width:100%;margin:1em 0px;padding:0.6em;background-color:#fff;border-radius:0.2em}
article p{margin: 0;}
article time{font-size: 0.8em; margin-top: 0.2em; color: gray}
